@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@layer base {
  ::selection {
    @apply bg-secondary text-secondary-content;
  }

  html, body {
    @apply scroll-smooth;
    font-family: "Noto Sans", "Noto Sans KR", -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
  }

  input:focus, textarea:focus {
    @apply outline-none;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer utilities {
  
}